body{
    background-color: #1e2c31;
}
#body{
    font-family: "Raleway";
}

.container-fluid{
    padding: 3% 15% 2%;
}

.turtle{
    color: aliceblue;
}

.navbar-brand{
    margin-right: 4rem;
}

.navbar-link{
    margin: 0 1rem;
    font-size: 22px;
}

.navbar-brand{
    margin-right: 4rem;
}

a{
    text-decoration: none;
}

.main{
    padding: 5% 18%;
    margin: auto;
}

.nav-btn{
    font-size: 25px;
    padding: 0.5% 5%;
    margin: auto;
    color: white;
    border: none;
}

.nav-link:hover{
    color: #466673;
    border: none;
}

.card{
    margin: auto;
}

.writeup-cards{
    margin: 3rem auto;
}

.writeup-card{
    transition: transform .3s ease-in-out;
}

.writeup-card:hover{
    transform: scale(1.03);
}

.card-image{
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    width: 70%;
}

.web{
    padding:16px;
}

.thm .web{color: #197e10;}
.pico .web{color: #7e105d;}

.btn{border: none;
    padding: 0.7rem;
}

#back{
    color: white;
    scale: 70%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

